body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Sans-Serif;
    background-color: #000000;
}

.container {
    margin-left: 5%;
    margin-top: 6%;
}

h1 {
    color: #00ff00;
}

li {
    margin-bottom: 0.5%;
    color: #334e6e;
    
}

span {
    width: 90%;
    display: inline-block;
    color: #ffffff;
}