body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Sans-Serif;
    background-color: #000000;
}

label {
    margin-bottom: 1%;
}

.white {
    color: #ffffff
}

.container {
    margin-left: 10%;
    margin-top: 6%;
}

.service {
    margin-top: 1%;
    border-radius: 5px;
    margin-bottom: 2%;
    height: 30px;
    width: 500px;
    outline: none;
    font-size: 15px;
}

.input_box {
    border: none;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 30px;
    width: 500px;
    outline: none;
    font-size: 15px;
}

.submit_btn {
    cursor: pointer;
    height: 30px;
    width: 500px;
    border: none;
    border-radius: 5px;
    background-color: #00ff00;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.description {
    height: 250px;
}

.service { 
    width: 500px
}