body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Sans-Serif;
    background-color: #000000;
}

label {
    color: #ffffff
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.input_box {
    height: 30px;
    width: 500px;
    outline: none;
}

.submit_btn {
    margin-top: 10px;
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #00ff00;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}