body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    user-select: none;
    font-family: Sans-Serif;
    background-color: #000000;
}

h1 {
    margin-left: 5%;
    color: #00ff00;
}

h2 {
    color: #000000;
}

.info {
    color: #ffffff
}

.options {
  display: flex;
}

.id {
    margin-left: 5%;
}

.name {
    margin-left: 1%;
}

.price {
    margin-left: 50%;
    margin-right: 10%;
}

.view_button {
    cursor: pointer;
    margin-right: 1%;
    margin-top: 6px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    height: 35px;
    width: 75px;
}

.right {
    position: absolute;
    right: 0;
}

.popup_container {
    background-color: #ffffff;
    border: none;
    width: 450px;
    padding-bottom: 2%;
    border-radius: 5px;
    position: absolute;
    left: 28.65%;
    top: 10%;
}

.close_button {
    cursor: pointer;
    position: absolute;
    top: 1%;
    font-size: 20px;
    color: #d9e2e8;
    left: 93%;
    border: none;
    background-color: transparent;
}

.popup_name {
    font-size: 27.5px;
    width: 90%;
    margin-left: 5%;
}

.popup_description {
    margin-top: -2%;
    width: 90%;
    font-size: 15px;
    margin-left: 5%;
}
.order_btn {
    font-weight: bold;
    cursor: pointer;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
    background-color: #00ff00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}